.legal-pad {
  width: 100%;
  height: 100%;
  z-index: 100;
  right: 0;
  overflow: hidden;
}

.legal-pad > ul {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(245, 246, 250, 0.9);
  box-sizing: border-box;
  border-top: 50px solid #130f40;
  overflow: hidden;
}

.legal-pad > ul li {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #0095c74f;
}

.legal-pad > ul li:first-child {
  border-bottom: 5px double #fab1a0;
  padding-top: 40px;
}
