.header {
  position: fixed;
  width: 33%;
  top: 9%;
  right: 1%;
  z-index: 2;
}

.menu {
  display: grid;
  align-items: center;
  grid-template-columns: 0.8fr 1fr 1.2fr 1.2fr 1.5fr;
}

.menu a {
  text-decoration: none;
  color: #ffa801;
}

.menu li {
  position: relative;
  color: #ffa801;
  font-family: "Gowun Batang", serif;
  font-weight: 700;
  font-size: 1.1rem;
  cursor: pointer;
  justify-self: center;
}

.menu li:first-child {
  font-size: 35px;
}

.menu li:not(:first-child) i {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(0.5);
  top: -15px;
  font-size: 16px;
  color: #ff6b6b;
  opacity: 0;
  transition: all 0.3s;
}
.menu li:hover:not(:first-child) i {
  top: -12px;
  transform: translateX(-50%) scale(1);
  opacity: 1;
}
.menu li .fa-check.checked {
  top: -7px;
  transform: translateX(-50%) scale(1);
  opacity: 1;
}
