.header {
  position: fixed;
  top: 75px;
  right: 80px;
  z-index: 2;
}

.menu {
  display: flex;
  align-items: center;
  gap: 35px;
}

.menu a {
  text-decoration: none;
  color: #ffa801;
}

.menu li {
  position: relative;
  color: #ffa801;
  font-family: "Gowun Batang", serif;
  font-weight: 700;
  font-size: 25px;
  cursor: pointer;
}

.menu li:first-child {
  font-size: 35px;
}

.menu li:not(:first-child) i {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(0.5);
  top: -15px;
  font-size: 16px;
  color: #ff6b6b;
  opacity: 0;
  transition: all 0.3s;
}
.menu li:hover:not(:first-child) i {
  top: -12px;
  transform: translateX(-50%) scale(1);
  opacity: 1;
}
.menu li .fa-check.checked {
  top: -7px;
  transform: translateX(-50%) scale(1);
  opacity: 1;
}
